@import "tailwindcss";

/* 🔥 Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffae42; /* lighter orange on hover */
}

html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}
